{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <section class="content-creation">
        <h1>Create a new Content</h1>

        {{ form_start(form) }}
        <div class="flex-row">{{ form_row(form.title) }}</div>
        <div class="flex-row">{{ form_row(form.content) }}</div>
        <div class="flex-row"> {{ form_row(form.image) }}</div>
        <button class="btn">Create</button>
        {{ form_end(form) }}
    </section>

{% endblock %}
